<div class="flex justify-center items-center h-screen"> 
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deatils</h5>
        
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email:</label>
            <p class="mt-1 text-gray-900 dark:text-white">moorthyponnusamy2019gamil.com</p> <!-- Display current user's email -->
        </div>
  
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">API Address:</label>
            <p class="mt-1 text-gray-900 dark:text-white">21436568708192e8078y3hwjdgidqkw</p> <!-- Display current API address -->
        </div>
  
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">SMTP Port:</label>
            <p class="mt-1 text-gray-900 dark:text-white">!#!#JIDWUI</p> <!-- Display current SMTP port -->
        </div>
    </div>
</div>
