<nav class="bg-blue-100 dark:bg-gray-800 dark:bg-gray-900 fixed top-0 w-full z-50">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
        
        <div class="flex items-center space-x-3 rtl:space-x-reverse">
            <a>
                <img src="assets/images/logo.svg" alt="logo" class="w-auto h-11"> 
            </a>
        </div>
        <div class="flex-grow flex justify-end items-center space-x-6 rtl:space-x-reverse">
            <div>
                <form class="right-side">
                    <w3m-button balance='hide' />
                </form>
            </div>
        </div>
    </div>
</nav>


